/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    
}

#pp_haut{
    -fx-background-image: url("fond_accueil.jpg");
}

#titre{    
    -fx-text-fill: white;
}

#soustitre{    
    -fx-text-fill: white;
}

#pp_connexion{
    -fx-background-color: #f6e397;
    -fx-background-radius: 15;  
}

#boutonconnexion{
    -fx-background-radius: 10;
}

#AnchorPane2{
    -fx-background-image: url("fond_2.jpg");
}

#matiere{    
    -fx-padding-top: 500px;
}

#listematieres{
    -fx-background-radius: 10;
}

#listeseances{
    -fx-background-radius: 10;    
}

#boutonacces{
    -fx-background-radius: 10;
}

#AnchorPane3{
    -fx-background-image: url("fond_notes.jpg");
}

#note1{
    -fx-background-color: #ffffb7;
    -fx-background-radius: 15;
}

#note2{
    -fx-background-color: #ffffb7;
    -fx-background-radius: 15;
}

#listenotes{
    -fx-border-color: black;-fx-border-width: 2;-fx-border-radius: 15;
    -fx-background-color: ffffff;
    -fx-background-radius: 15;
}

#barre{
    -fx-background-image: url("fond_arnaque.jpg");
}

#notes{
    -fx-background-color: rgba(100, 100, 100, 0.5);
}